/* Colors */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather"), url("../fonts/merriweather-regular.woff2") format("woff2"), url("../fonts/merriweather-regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Merriweather-light"), url("../fonts/merriweather-light.woff2") format("woff2"), url("../fonts/merriweather-light.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather-italic"), url("../fonts/merriweather-italic.woff2") format("woff2"), url("../fonts/merriweather-italic.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Merriweather-lightitalic"), url("../fonts/merriweather-lightitalic.woff2") format("woff2"), url("../fonts/merriweather-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Merriweather-bold"), url("../fonts/merriweather-bold.woff2") format("woff2"), url("../fonts/merriweather-bold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1900px;
  min-width: 320px;
  margin: 0 auto;
}

.page-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  position: relative;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-align: center;
}

.page-heading::before {
  position: absolute;
  top: calc(100% + 35px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 253px;
  height: 33px;
  background: url("../img/decoration-heading.png") no-repeat center;
}

@media screen and (max-width: 900px) {
  .page-heading {
    font-size: 32px;
  }
}

.page-header {
  padding-top: 54px;
  width: 100%;
  min-height: 965px;
  background: #f7f7f7 url("../img/header-bg.jpg") no-repeat center top;
}

.page-header__main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 45%;
  margin-left: auto;
  margin-right: 8%;
}

.page-header__title {
  float: right;
  margin: 15.2% 11.8% 0 0;
}

@media screen and (max-width: 1200px) {
  .page-header {
    min-height: 700px;
  }
  .page-header__main-navigation {
    margin-right: 3%;
  }
  .page-header__title {
    margin: 10%;
  }
}

@media screen and (max-width: 900px) {
  .page-header {
    padding-top: 20px;
    min-height: 500px;
    padding-bottom: 60px;
    text-align: center;
    background-image: none;
  }
  .page-header__title {
    margin: 5%;
    float: none;
  }
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__button {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main-navigation__button span {
  position: relative;
}

.main-navigation__button span,
.main-navigation__button span::before,
.main-navigation__button span::after {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #3c3c3c;
}

.main-navigation__button span::before {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.main-navigation__button span::after {
  position: absolute;
  content: "";
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.main-navigation__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main-navigation__button:active {
  opacity: 0.3;
}

.main-navigation__button--active span {
  background-color: transparent;
}

.main-navigation__button--active span::before {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-navigation__button--active span::after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-navigation__item:not(:last-child) {
  margin-bottom: 20px;
  margin-right: 15px;
}

.main-navigation__link {
  display: block;
  padding: 14px 23px;
  font-size: 18px;
  line-height: 20px;
  color: #3c3c3c;
}

.main-navigation__link[href]:hover {
  opacity: 0.6;
}

.main-navigation__link[href]:active {
  -webkit-box-shadow: 0 0 0 1px #6e6e6e;
          box-shadow: 0 0 0 1px #6e6e6e;
}

.main-navigation__link--active {
  -webkit-box-shadow: 0 0 0 1px #6e6e6e;
          box-shadow: 0 0 0 1px #6e6e6e;
}

@media screen and (max-width: 900px) {
  .main-navigation {
    position: relative;
    margin: 0 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    min-height: 50px;
  }
  .main-navigation__button {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-navigation__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    border-bottom: 1px solid #3c3c3c;
  }
  .main-navigation__item:not(:last-child) {
    margin-right: 0;
  }
}

.main-navigation__list--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature {
  padding: 60px 0 67px;
  margin-bottom: 72px;
  background: #f8cf12 url("../img/feature-bg.jpg") repeat;
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 6%;
  list-style: none;
}

.feature__item {
  width: 400px;
  margin: 0 auto 20px;
  padding: 117px 10px 0;
  text-align: center;
}

.feature__item:nth-child(1) {
  background: url("../img/feature-1.png") no-repeat center 7px;
}

.feature__item:nth-child(2) {
  background: url("../img/feature-2.png") no-repeat center 17px;
}

.feature__item:nth-child(3) {
  background: url("../img/feature-3.png") no-repeat center 9px;
}

.feature__name {
  margin: 0 0 18px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.feature__description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.special__image {
  display: block;
  width: 248px;
  height: 248px;
}

.special__box {
  width: 248px;
  height: 248px;
  padding: 63px 20px 50px 25px;
  text-align: center;
  background-color: #f7f7f7;
}

.special__link {
  color: #3c3c3c;
}

.special__title {
  display: block;
  position: relative;
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.special__title::before {
  position: absolute;
  top: calc(100% + 9px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 88px;
  height: 1px;
  background-color: #3c3c3c;
}

.special__title:hover {
  opacity: 0.6;
}

.special__title:active {
  opacity: 0.3;
}

.special__description {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.special__price {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.special--reverse .special__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 900px) {
  .special {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .special--reverse .special__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.specials {
  text-align: center;
  padding-bottom: 104px;
}

.specials__title {
  margin-bottom: 107px;
}

.specials__title::before {
  top: calc(100% + 17px);
}

.specials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about {
  padding: 240px 0 50px;
  width: 100%;
  min-height: 967px;
  background: #eeefef url("../img/about-bg.png") no-repeat 48.5vw 39px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 620px;
  text-align: center;
  margin-left: 10.5%;
}

.about__title {
  margin-bottom: 98px;
}

.about__title::before {
  top: calc(100% + 18px);
}

.about__description {
  margin: 0 0 45px;
  max-width: 620px;
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
}

.about__sign {
  margin-left: auto;
  margin-right: 17px;
}

@media screen and (max-width: 1200px) {
  .about__box {
    max-width: 500px;
  }
}

@media screen and (max-width: 900px) {
  .about {
    min-height: auto;
    padding-top: 50px;
    background-image: none;
  }
  .about__box {
    margin: 0 auto;
    padding: 0 5%;
  }
  .about__description {
    max-width: 100%;
    font-size: 18px;
  }
  .about__sign {
    width: 148px;
    height: 100px;
  }
}

.menu {
  padding: 61px 0 56px;
  text-align: center;
}

.menu__title {
  margin-bottom: 104px;
}

.menu__title::before {
  top: calc(100% + 18px);
}

.menu__tablist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.menu__tablist li:not(:last-child) {
  margin-right: 13px;
}

.menu__button {
  display: block;
  padding: 14px 23px;
  font-size: 18px;
  line-height: 20px;
  color: #3c3c3c;
  cursor: auto;
}

.menu__button:not(.menu__button--active):hover {
  opacity: 0.6;
  cursor: pointer;
}

.menu__button:not(.menu__button--active):active {
  -webkit-box-shadow: 0 0 0 1px #6e6e6e;
          box-shadow: 0 0 0 1px #6e6e6e;
}

.menu__button--active {
  -webkit-box-shadow: 0 0 0 1px #6e6e6e;
          box-shadow: 0 0 0 1px #6e6e6e;
}

.menu__inner {
  margin: 0;
  padding: 81px 5% 0;
  list-style: none;
}

.menu__tab {
  display: none;
}

.menu__tab--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__list {
  width: 635px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 38px;
}

@media screen and (max-width: 600px) {
  .menu__tablist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__tablist li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .menu__inner {
    padding-top: 40px;
    text-align: center;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.product::after {
  display: block;
  margin: 0 5px;
  content: "";
  height: 18px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 2px dotted #3c3c3c;
  opacity: 0.6;
}

.product__name {
  display: block;
  margin: 0;
  max-width: 450px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.product__description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.product__price {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .product::after {
    display: none;
  }
  .product__name {
    max-width: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .product__description {
    margin-bottom: 10px;
  }
  .product__price {
    font-weight: 700;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 61px 10.7% 34px;
  width: 100%;
  min-height: 965px;
  background: #eeefef url("../img/footer-bg.jpg") no-repeat top right;
}

.page-footer__container {
  width: 570px;
  text-align: center;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 76px;
}

.page-footer__title {
  margin-bottom: 109px;
}

.page-footer__title::before {
  top: calc(100% + 18px);
}

.page-footer__contacts {
  min-width: 220px;
  text-align: left;
  margin-bottom: 20px;
}

.page-footer__subtitle {
  margin: 0 0 6px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-footer__address {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.page-footer__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
}

.page-footer__link:hover {
  opacity: 0.6;
}

.page-footer__link:active {
  opacity: 0.3;
}

.page-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 193px;
}

.page-footer__box {
  margin: 0 0 55px;
}

.page-footer__submit {
  margin: 0 auto;
  width: 100px;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #3c3c3c;
}

.page-footer__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.page-footer__submit:active {
  opacity: 0.3;
}

@media screen and (max-width: 1200px) {
  .page-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .page-footer {
    background-image: none;
  }
  .page-footer__container {
    width: 100%;
  }
  .page-footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .page-footer__subtitle,
  .page-footer__contacts {
    padding: 0 20px;
    text-align: center;
  }
  .page-footer__form {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }
}

.input {
  width: 254px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  font-style: italic;
  color: #3c3c3c;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #3c3c3c;
}

.input:hover {
  opacity: 0.6;
}

.input:focus {
  border: 1px solid #3c3c3c;
  outline: none;
}

.input::-webkit-input-placeholder {
  font: inherit;
  color: #3c3c3c;
  opacity: 0.3;
}

.input::-ms-input-placeholder {
  font: inherit;
  color: #3c3c3c;
  opacity: 0.3;
}

.input::placeholder {
  font: inherit;
  color: #3c3c3c;
  opacity: 0.3;
}

.input--wide {
  width: 570px;
}

@media screen and (max-width: 768px) {
  .input,
  .input--wide {
    width: 100%;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.social__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #3c3c3c;
}

.social__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.social__link:active {
  opacity: 0.3;
}

.social__icon {
  fill: #3c3c3c;
}
