ul.social
  li.social__item
    a.social__link
      span.visually-hidden Facebook
      svg.social__icon(width=11, height=23): use(xlink:href="#icon-fb")

  li.social__item
    a.social__link
      span.visually-hidden Instagram
      svg.social__icon(width=25, height=26): use(xlink:href="#icon-in")
