nav.main-navigation.page-header__main-navigation
  button.main-navigation__button: span(aria-label=Navigation)
  ul.main-navigation__list
    li.main-navigation__item: a.main-navigation__link.main-navigation__link--active Home
    li.main-navigation__item: a.main-navigation__link(href="#specials") Specials
    li.main-navigation__item: a.main-navigation__link(href="#about") About
    li.main-navigation__item: a.main-navigation__link(href="#menu") Menu
    li.main-navigation__item: a.main-navigation__link(href="#contact") Contact
