nav.main-navigation.page-header__main-navigation
  ul.main-navigation__list
    li.main-navigation__item: a.main-navigation__link.main-navigation__link--active Home
    li.main-navigation__item: a.main-navigation__link(href="#special") Specials
    li.main-navigation__item: a.main-navigation__link(href="#about") About
    li.main-navigation__item: a.main-navigation__link(href="#menu") Menu
    li.main-navigation__item: a.main-navigation__link(href="#contact") Contact
