section.about
  h2.about__title.page-heading About us
  p.about__description Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
  img.about__sign(src="img/about-sign.png", width=213, height=144, alt="Sign Author")
|
|
