.about {
  padding: 240px 0 50px;
  width: 100%;
  min-height: 967px;
  background: $grey-bg url("../img/about-bg.png") no-repeat right 39px;//912px 39px
}

.about__title {
  margin-left: 22%;
  margin-bottom: 98px;

  &::before {
    top: calc(100% + 18px);
  }
}

.about__description {
  max-width: 620px;
  margin: 0 0 45px 10.5%;
  font-size: 30px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
}

.about__sign {
  margin-left: 30.8%;
}
