include ../special/special

section.specials
  h2.specials__title.page-heading(id="specials") This month specials
  ul.specials__list
    li.specials__item.special
      +special("img/special-1.jpg", "Greens fava", "Lorem ipsum dolor sit Pellentesque vel enim a", "17&dollar;")

    li.specials__item.special
      +special("img/special-2.jpg", "Celery quandong", "Lorem ipsum dolor sit Pellentesque vel enim a", "30&dollar;")

    li.specials__item.special
      +special("img/special-3.jpg", "Pea horseradish", "Lorem ipsum dolor sit Pellentesque vel enim a", "25&dollar;")

    li.specials__item.special.special--reverse
      +special("img/special-4.jpg", "Soko radicchio", "Lorem ipsum dolor sit Pellentesque vel enim a", "7&dollar;")

    li.specials__item.special.special--reverse
      +special("img/special-5.jpg", "Tigernut", "Lorem ipsum dolor sit Pellentesque vel enim a", "3&dollar;")

    li.specials__item.special.special--reverse
      +special("img/special-6.jpg", "Yarrow sweet", "Lorem ipsum dolor sit Pellentesque vel enim a", "5&dollar;")
|
|
