.container
  footer.page-footer
    .page-footer__container
      h2.page-footer__title.page-heading(id="contact") Contact
      .page-footer__wrapper
        .page-footer__contacts
          h3.page-footer__subtitle Veggie
          address.page-footer__address 3428 Magnolia Avenue<br>Hackettstown, NJ 07840
        .page-footer__contacts
          h3.page-footer__subtitle Reservations
          a.page-footer__link(href="mailto:reservations@vegggie.com") reservations@veggie.com
          a.page-footer__link(href="tel:+482025550114") +48 202-555-0114
      h3.page-footer__subtitle Contact form
      form.page-footer__form(action="#", method="get")
        p.page-footer__box
          label.visually-hidden(for="user-name") Your name
          input.page-footer__input.input(type="text", id="user-name", placeholder="Name")
        p.page-footer__box
          label.visually-hidden(for="user-email") Your email
          input.page-footer__input.input(type="email", id="user-email", placeholder="Email")
        p.page-footer__box
          label.visually-hidden(for="user-message") Your message
          input.page-footer__input.input.input--wide(type="text" id="user-message" placeholder="Message")

        button.page-footer__submit(type="submit") Send

    include ../social/social
|
|
