.page-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 61px 10.7% 34px;
  width: 100%;
  min-height: 965px;
  background: $grey-bg url("../img/footer-bg.jpg") no-repeat top right;
}

.page-footer__container {
  width: 570px;
  text-align: center;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 76px;
}

.page-footer__title {
  margin-bottom: 109px;

  &::before {
    top: calc(100% + 18px);
  }
}

.page-footer__contacts {
  min-width: 220px;
  text-align: left;
  margin-bottom: 20px;
}

.page-footer__subtitle {
  margin: 0 0 6px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-footer__address {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.page-footer__link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: $text;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 193px;
}

.page-footer__box {
  margin: 0 0 55px;
}

.page-footer__submit {
  margin: 0 auto;
  width: 100px;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  background-color: transparent;
  border: 1px solid $text;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (max-width: 1200px) {
  .page-footer {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .page-footer {
    background-image: none;
  }

  .page-footer__container {
    width: 100%;
  }

  .page-footer__wrapper {
    justify-content: center;
    margin-bottom: 30px;
  }

  .page-footer__subtitle,
  .page-footer__contacts {
    padding: 0 20px;
    text-align: center;
  }

  .page-footer__form {
    width: auto;
    flex-direction: column;
    margin-bottom: 70px;
  }
}
