.menu {
  padding: 61px 0 56px;
  text-align: center;
}

.menu__title {
  margin-bottom: 104px;

  &::before {
    top: calc(100% + 18px);
  }
}

.menu__tablist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
  list-style: none;

  li:not(:last-child) {
    margin-right: 13px;
  }
}

.menu__button {
  display: block;
  padding: 14px 23px;
  font-size: 18px;
  line-height: 20px;
  color: $text;
  cursor: auto;

  &:not(.menu__button--active):hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:not(.menu__button--active):active {
    box-shadow: 0 0 0 1px $border;
  }
}

.menu__button--active {
  box-shadow: 0 0 0 1px $border;
}

.menu__inner {
  margin: 0;
  padding: 81px 5% 0;
  list-style: none;
}

.menu__tab {
  display: none;
}

.menu__tab--active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu__list {
  width: 635px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin-bottom: 38px;
}

@media screen and (max-width: 600px) {
  .menu__tablist {
    flex-direction: column;
    align-items: center;
  }

  .menu__tablist li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu__inner {
    padding-top: 40px;
    text-align: center;
  }
}
