.page-header {
  padding-top: 54px;
  width: 100%;
  height: 965px;
  background: $lightgrey-bg url("../img/header-bg.jpg") no-repeat center;
}

.page-header__main-navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
}

.page-header__title {
  float: right;
  margin: 309px 11.8% 0 0;
}
